@import '../../../_vars.scss';
textarea {
  transition: all .2s;
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  resize: none;
  padding: 10px;
  font-family: 'Lato', sans-serif;

  &:focus {
    background-color: #000;
    color: #fff;
  }

  &.disabled {
    cursor: not-allowed;
  }
}

[name="title"] {
    font-size: 24px;
  font-weight: 500;
  border-bottom: 1px dotted $clr-gray;
  background-color: rgba($clr-gray, .1);
  resize: none;
  white-space: nowrap;
  overflow-x: none;

  &:focus {
    font-size: 40px;
  }
}

[name="body"] {
  height: calc(90vh - 100px);
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 14px;
   &:focus {
    font-size: 20px;
  }

}
