@import '../../../_vars.scss';

header {
    margin: 0;
    border-bottom: 1px solid $clr-gray;
    height:75px;

    h1 {
        font-weight: 300;
        margin-left: 40px;
        float: left;
    }

    h5 {
        font-weight:500;
        float:left;
        position: absolute;
        left:40px;
        top:25px;
        color: $clr-blue;                
    }
}