@import '../../../_vars.scss';

header {
    margin: 0;
    border-bottom: 1px solid $clr-gray;
    height:75px;

    h1 {
        font-weight: 300;
        margin-left: 40px;
    }

    h5.left {
        font-weight:500;
        position: absolute;
        left:40px;
        top:25px;
        color: $clr-blue;                
    }

    h5.right {
        margin-right: 10px;
    }
}