@import '../_vars.scss';

main {
    margin: 0;
}

.flex {
    display:flex;
    flex-direction: row;
}

.left-col {
    height:calc(100vh - 100px);
    width: 30%;   
    margin: 0; 
    box-sizing: border-box;
    overflow-y: auto;
}

.middle-col {
    height: calc(100vh - 100px);
    width:50%;
    margin: 0;
    box-sizing: border-box;
    border-left: 1px solid $clr-gray;
    border-right: 1px solid $clr-gray;
}

.right-col {
    height: calc(100vh - 100px);
    width:20%;
    margin: 0;
    box-sizing: border-box;
    overflow-y: auto;
}