/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

button {
    background-color: transparent;
    border: none;
    outline:none;
    cursor: pointer;    
}

.left {
    float: left;
}

.right {
    float: right;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: #aaa;
}
 
::-webkit-scrollbar-thumb {
    background-color:#111;
}